# Use Dask with Big Data
- https://towardsdatascience.com/why-and-how-to-use-dask-with-big-data-746e34dac7c3
- https://dask.org
- https://github.com/dask/dask-tutorial

Now, Pandas is very efficient with small data (usually from 100MB up to 1GB) and performance is rarely a concern.
But when you have more data that’s way larger than your local RAM (say 100GB), you can either still use Pandas to handle data with some tricks to certain extent or choose a better tool — in this case, Dask.

How to install: https://docs.dask.org/en/latest/install.html

## 1. Read CSV files to Dask dataframe

In [0]:
import dask.dataframe as dd
df = dd.read_csv('https://e-commerce-data.s3.amazonaws.com/E-commerce+Data+(1).csv', encoding = 'ISO-8859-1', blocksize=32e6)

In [2]:
df

Dask DataFrame Structure:
              InvoiceNo StockCode Description Quantity InvoiceDate UnitPrice CustomerID Country
npartitions=2
                 object    object      object    int64      object   float64    float64  object
                    ...       ...         ...      ...         ...       ...        ...     ...
                    ...       ...         ...      ...         ...       ...        ...     ...
Dask Name: from-delayed, 6 tasks

## 2. Use compute() to execute the operation

In [3]:
df.UnitPrice.mean()

dd.Scalar<series-..., dtype=float64>

Most Dask user interfaces are lazy, meaning that they don’t evaluate until you explicitly ask for a result using the compute method.

In [4]:
df.UnitPrice.mean().compute()

4.611113626088513

## 3. Check number of missing values for each column

In [5]:
df.isnull().sum().compute()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

## 4. Filter rows based on conditions

In [6]:
df[df.Quantity < 10].compute()

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
159374    581587     23256  ...    12680.0          France
159376    581587     22899  ...    12680.0          France
159377    581587     23254  ...    12680.0          France
159378    581587     23255  ...    12680.0          France
159379    581587     22138  ...    12680.0          France

[386990 rows x 8 columns]